{% extends "layout.html" %}
{% block title %}
    {{ super() }} - {{ Title }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="section">
        <h5>{{ Title }}</h5>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        {% for p in Content %}
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <pre>{{ p }}</pre>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}